/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
 body{line-height:1}
 article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
 nav ul{list-style:none}
 blockquote,q{quotes:none}
 blockquote:before,blockquote:after,q:before,q:after{content:none}
 a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
 mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
 del{text-decoration:line-through}
 abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
 table{border-collapse:collapse;border-spacing:0}
 hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
 input,select{vertical-align:middle}
 li{list-style:none}


 /* =============================================================================
    My CSS
    ========================================================================== */

 /* ---- base ---- */

 html,body{
 	width:100%;
 	height:100%;
 	background:#111;
 }

 html{
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }

 body{
   font:normal 75% Arial, Helvetica, sans-serif;
 }

 canvas{
   display:block;
   vertical-align:bottom;
   opacity: .6;
 }

 /* ---- particles.js container ---- */

 #particles-js{
   position: relative;
   width: 100%;
   height: 100%;
   background-color: #eaeaea;
   background-image: url('');
   background-size: cover;
   background-position: 50% 50%;
   background-repeat: no-repeat;
 }


 /* ---- text container ---- */

 .container {
 	position: absolute;
 	width: 100%;
 	height: 100%;
 	z-index: 1000;
 }


 h1 {
   margin-top: 50px;
   text-align: center;
 	 font-size: 96px;
 	 color: #6ec829;
 }

 h2 {
  margin-top: 80px;
 	font-size: 36px;
 	font-weight: bold;
  color: black;
  text-align: center;
 }

#total {
  margin-top: 10px;
}

.bar {
  display: block;
  width: 750px;
  height: 50px;
  margin: 0 auto;
}

.labels {
  display: block;
  width: 750px;
  margin: 0 auto;
}

.label {
  display: block;
  font-weight: bold;
  font-size: 18px;
  float: left;
  width: 250px;
  text-align: right;
}

.outer-bar-1 {
  display: block;
  float: left;
  width: 250px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
}
.outer-bar-2 {
  display: block;
  float: left;
  width: 250px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
}
.outer-bar-3 {
  display: block;
  float: left;
  width: 250px;
  height: 50px;
  background-color: white;
  border-radius: 5px;
}

.inner-bar {
  display: block;
  width: 0px;
  height: 50px;
  border-radius: 5px;
}

.light-green {
  background: #A6CB45;
}
.green {
  background: #71B238;
}
.dark-green {
  background: #6A8347;
}

.total-pledged {
  margin-top: 30px;
  text-align: center;
  color: black;
  font-size: 48px;
  font-weight: bold;
}

.amount {
  color: #6ec829;
}

.message {
  font-weight: bold;
  text-align: center;
  margin-top: 70px;
}

.donor-amount {
  font-size: 42px;
}

.donor-message {
  font-style: italic;
  font-size: 36px;
}


 /*#total {
   margin-top: 60px;
   text-align: center;
   font-size:30px;
 }*/

 #donation {
   text-align: center;
   margin-top: 100px;

   .display {
     font-size: 30px;
   }

   .message {
     font-size: 20px;
   }

 }

 .progress-container {
   width: 60%;
   margin: 0px auto;
   margin-top: 50px;
   height: 40px;
   position:relative;
 }

 p.goal {
   float: left;

   &.first {
     margin-left: 30%;
   }

   &.second {
     margin-left: 26%;
   }

   &.third {
     position:absolute;
     bottom: -51px;
     right: -26px;
   }
 }

 #progress {
   width: 100%;
   height: 100%;
   background: #fff;
   white-space:nowrap;
   overflow: hidden;
   margin-bottom: 20px;
 }

 .progress-bar {
   -webkit-transition-duration: 0.4s;
   -moz-transition-duration: 0.4s;
   -o-transition-duration: 0.4s;
   transition-duration: 0.4s;
 }

 #first-tier {
   background-color: darken(green, 4%);
 }

 #second-tier {
   background-color: darken(green, 8%);
 }

 #third-tier {
   background-color: darken(green, 12%);
 }
