/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
 body{line-height:1}
 article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
 nav ul{list-style:none}
 blockquote,q{quotes:none}
 blockquote:before,blockquote:after,q:before,q:after{content:none}
 a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
 mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
 del{text-decoration:line-through}
 abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
 table{border-collapse:collapse;border-spacing:0}
 hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
 input,select{vertical-align:middle}
 li{list-style:none}


 /* =============================================================================
    My CSS
    ========================================================================== */

 /* ---- base ---- */

 html,body{
 	width:100%;
 	height:100%;
 	background: #134B97;
  font-family: "Garamond";
 }

 html{
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
 }

 body{
   font:normal 75% Arial, Helvetica, sans-serif;
 }

 canvas{
   display:block;
   vertical-align:bottom;
   opacity: .6;
 }

 @font-face {
   font-family: "Chalet";
   src: font-url('./chalet.otf');
 }


  @font-face {
    font-family: "Chalet";
    font-weight: bold;
    src: font-url('./chalet-bold.otf');
  }

 @font-face {
   font-family: "Garamond";
   src: url('./garamond.ttf');
 }


 /* ---- text container ---- */

#techbash5 {
  width: 500px;
  position: absolute;
  left: 75px;
  top: 75px;

}

 .container {
 	position: absolute;
 	width: 100%;
 	height: 100%;
 	z-index: 1000;
 }


 h1 {
   margin-top: 50px;
   text-align: center;
 	 font-size: 96px;
 	 color: #6ec829;
 }

 #instruction {
  font-family: "Garamond";
  float: right;
  margin-top: 80px;
 	font-size: 36px;
  color: white;
  width: 800px;
 }

 #inner-instruction {
   text-align: center;
 }

#total {
  margin-top: 10px;
}

.bar {
  display: block;
  width: 1000px;
  height: 50px;
  margin: 0 auto;
}

.labels {
  display: block;
  width: 1000px;
  margin: 0 auto;
}

.label {
  display: block;
  font-size: 24px;
  float: left;
  width: 166.6666666px;
  text-align: right;
}

.arrow-down {
  width: 0;
  height: 0;
  margin: auto;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #89D94C;
}



.outer-bar {
  display: block;
  float: left;
  width: 1000px;
  height: 50px;
  background-color: white;
}

.inner-bar {
  display: block;
  width: 0px;
  height: 50px;
}


.green {
  background: #89D94C;
}

.dark-green {
  background: #6EC829;
  background: -webkit-linear-gradient(left,  #6EC829 , #51A511);
  background: -o-linear-gradient(right,  #6EC829, #51A511);
  background: -moz-linear-gradient(right,  #6EC829, #51A511);
  background: linear-gradient(to right,  #6EC829 , #51A511);
}

.light-green {
  background: #A8E976;
  background: -webkit-linear-gradient(left,  #A8E976 , #89D94C);
  background: -o-linear-gradient(right,  #A8E976, #89D94C);
  background: -moz-linear-gradient(right,  #A8E976, #89D94C);
  background: linear-gradient(to right,  #A8E976 , #89D94C);
}

.total-container {
  width: 1000px;
  position: relative;
  margin: 0 auto;
}

.total-pledged {
  position: relative;
  width: 250px;
  margin-top: 30px;
  text-align: center;
  color: black;
  font-size: 36px;
  font-weight: bold;
}

.amount {
  color: #6ec829;
}

.green-font {
  color: #89D94C;
}

.message {
  margin-top: 70px;
}

.donor-amount {
  font-size: 42px;
}

.donor-message {
  font-style: italic;
  font-size: 36px;
}


 /*#total {
   margin-top: 60px;
   text-align: center;
   font-size:30px;
 }*/


 .progress-container {
   width: 60%;
   margin: 0px auto;
   margin-top: 50px;
   height: 40px;
   position:relative;
 }

 p.goal {
   float: left;

   &.first {
     margin-left: 30%;
   }

   &.second {
     margin-left: 26%;
   }

   &.third {
     position:absolute;
     bottom: -51px;
     right: -26px;
   }
 }

 #progress {
   width: 100%;
   height: 100%;
   background: #fff;
   white-space:nowrap;
   overflow: hidden;
   margin-bottom: 20px;
 }
